.wrapper {
  border: 1px solid navy;
  padding: 20px;
  margin: 50px;
  font-size: 20px;
  line-height: 2em;

  .functional {
    color: salmon;
  }

  .class {
    color: green;
  }

  .pure {
    color: blueviolet;
  }
}
